# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
build/
dist/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp
*.tmp

# Jupyter Notebook
.ipynb_checkpoints
**/*.tif

# Docs
docs/_build/
docs/gallery/
